<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Klient</title>

    <script type="text/javascript" src="files/js/angular.js"></script>
    <script type="text/javascript" src="files/js/chat.js"></script>
    <script type="text/javascript">
    var wrap = {
        app  : null,
        reg  : null
    };
    var app  = angular.module('chatApp', []);

    app.controller('chatCtrl',     function($scope) {
        var ctrl = wrap.app = new Chat.Ctrl.ngapp($scope, wrap);
        ctrl.on('register', function() {
            if (wrap.reg !== null) {
                wrap.reg.scope.registering = true;
            }
        });
    });
    app.controller('registerCtrl', function($scope) {
        var ctrl = wrap.reg = new Chat.Ctrl.ngreg($scope, wrap);
    });

    </script>


    <link rel="stylesheet" href="files/css/bootstrap.css"/>
    <link rel="stylesheet" href="files/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="files/css/style.css"/>
</head>
<body>

    <div id="chatApp" ng-app="chatApp" ng-controller="chatCtrl">

        <!-- REJESTRACJA -->
        <div id="registerPanel"  ng-show="registering" ng-controller="registerCtrl">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Rejestracja</h4>
                    </div>
                    <div class="panel-body">
                        <form ng-submit="submit()">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <input class="form-control" type="text" ng-model="username" placeholder="Nazwa użytkownika"/><br/>
                            </div>
                            <br/>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon glyphicon-lock"></span>
                                </span>
                                <input class="form-control" type="password" ng-model="password" placeholder="Hasło"/></br>
                            </div>
                            <br/>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon glyphicon-lock"></span>
                                </span>
                                <input class="form-control" type="password" ng-model="password2" placeholder="Powtórz hasło"/></br>
                            </div>
                            <br/>

                            <button class="btn btn-default form-control">Rejestruj się</button><br/>
                            <a href="#chatApp" class="btn btn-default form-control" ng-click="close()">Zamknij</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- REJESTRACJA -->

        <!-- LOGOWANIE -->
        <div id="loginPanel" ng-hide="loggedIn">
            <div class="container">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel {{wrongLogin ? 'panel-danger' :
                                        closedConnection ? 'panel-warning' : 'panel-default'}}">

                        <div class="panel-heading">
                            <h4>Logowanie</h4>
                        </div>


                        <div class="panel-body">
                            <form ng-submit="submit_login()">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input class="form-control" type="text" ng-model="username" placeholder="Nazwa użytkownika"/><br/>
                                </div>
                                <br/>

                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon glyphicon-lock"></span>
                                    </span>
                                    <input class="form-control" type="password" ng-model="password" placeholder="Hasło"/></br>
                                </div>
                                <br/>

                                <button class="btn btn-default form-control">Zaloguj</button><br/>
                                <a href="#registerPanel" class="btn btn-default form-control" ng-click="start_register()">Zarejestruj</a>
                            </form>
                        </div>

                        <div class="panel-footer" ng-show="wrongLogin || closedConnection">
                            {{wrongLogin ? 'Logowanie nie powiodło się. Sprawdź poprawność wprowadzonych danych.'
                                : closedConnection ? 'Serwer zakończył połączenie'
                                : ''}}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- LOGOWANIE -->

        <!-- APLIKACJA -->
        <div id="chatView" ng-show="loggedIn">
            <!-- GÓRNY PASEK -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" ng-click="isNavCollapsed = !isNavCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">
                            <div class="btn-group {{isMenuCollapsed ? '' : 'open'}}" ng-init="isMenuCollapsed = true">
                                <button type="button" class="btn btn-default dropdown-toggle" ng-click="isMenuCollapsed = !isMenuCollapsed" >
                                    {{username}}
                                </button>
                                <ul id="user-menu" class="dropdown-menu">
                                    <li ng-click="logout()">
                                        <a>Wyloguj</a>
                                    </li>
                                </ul>
                            </div>
                        </a>
                    </div>

                    <div class="navbar-collapse {{isNavCollapsed ? 'collapse' : ''}}">
                        <ul id="current-chats" ng-init="isNavCollapsed = true" class="nav navbar-nav">

                            <li ng-repeat="_c in chats" class="{{_c.target === currentChat.target ? 'active' : ''}}">
                                <button ng-click="new_chat(_c.target)" class="btn btn-primary">
                                    <span class="status-badge badge status-{{_c.status}}">
                                        {{_c.unread > 0 ? _c.unread : '&nbsp;'}}
                                    </span>
                                    {{_c.target}}
                                    <span class="close-badge badge" ng-click="chat_close(_c)">
                                        <span class="glyphicon glyphicon-remove">
                                    </span>
                                </button>
                            </li>

                        </ul>

                        <form id="new-msg-nav" class="navbar-form navbar-right" ng-submit="new_chat()">
                            <div>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input type="text" ng-model="newMsgUsername" class="form-control"/>
                                </div>
                            </div>
                            <button class="btn default-btn">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </button>
                        </form>
                    </div>

                </div>
            </nav>
            <!-- GÓRNY PASEK -->

            <!-- OKNO ROZMOWY -->
            <div class="container-fluid">

                <div id="msg-box" ng-show="showMsgBox">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-8 col-md-10 target-name">
                                    <h5>Rozmowa z: {{currentChat.target}}</h5>
                                </div>
                                <div class="col-xs-4 col-md-2 status">
                                    {{currentChat.status == true ? 'dostępny' : 'niedostępny'}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="msg-row {{msg.outgoing ? 'msg-outgoing' : 'msg-incomming'}}" ng-repeat="msg in currentChat._log">
                                    <span class="msg-sender">
                                        <span>{{msg.outgoing ? 'Ty' : msg.sender}}</span>
                                    </span>
                                    <span class="msg-date">
                                        <span>{{msg.dateStr}}</span>
                                    </span>
                                    <span class="msg-text">
                                        <span>{{msg.text}}</span>
                                    </span>
                            </div><br/>
                        </div>

                        <div class="panel-footer">
                            <div class="input-group">
                                <textarea ng-model="msgText" ng-keyup="msgTextKeyup($event)" class="form-control"></textarea>
                                <span class="input-group-addon" ng-click="send_msg()">
                                    Wyślij
                                </span>
                            </div>
                        </div>

                    </div>
                </div>
                <br/>

            </div>
            <!-- OKNO ROZMOWY -->

        </div>
        <!-- APLIKACJA -->
    </div>
</body>
</html>
