html, body, #chatApp, #loginPanel, #chatView {
    height: 100%;
}

.panel-warning .panel-footer {
    color: #8a6d3b;
}

.panel-danger .panel-footer {
    color: #a94442;
}

#loginPanel > .container {
    padding-top: 5%;
}

#chatView {
    .navbar-toggle {
        float: none;
        margin-left: 5px;
    }

    .navbar-brand {
        float: right;

        .btn {
            margin-top: -7px;
        }
    }

    #user-menu {
        top: ~"calc(100% - 7px)";

        li:hover {
            cursor: pointer;
        }

        .navbar-brand {
            display: none;
        }
    }
}

#registerPanel {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: fixed;
    background-color: white;

    .panel {
        margin-top: 20%;
    }
}

#current-chats {
    margin-top: 0;

    .badge.status-badge {
        padding: 3px 6px;
        margin-right: 5px;
        margin-left: -5px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        width: 19px;
    }

    .badge.status-badge.status-true {
        background-color: #50c350;
    }

    .badge.status-badge.status-false {
        background-color: #c5c5c5;
    }

    .badge.close-badge {
        position: relative;
        top: -10px;
        right: -10px;
        padding: 0;

        :hover {
            color: red;
        }
    }
}

#current-chats.nav>li {
    display: inline-block;
    margin-left: 5px;
    margin-top: 7px;
}

#new-msg-nav > div {
    width: ~"calc(100% - 44px)";
    display: inline-block;
}

#new-msg-nav > .btn {
    width: 40px;
    display: inline-block;
    vertical-align: top;
}


#msg-box {
    textarea {
        resize: none;
    }

    .panel-heading .status {
        text-align: right;
    }

    .msg-sender {
        padding-left: 10px;
        min-width: 40px;
    }
}
