html,
body,
#chatApp,
#loginPanel,
#chatView {
  height: 100%;
}
.panel-warning .panel-footer {
  color: #8a6d3b;
}
.panel-danger .panel-footer {
  color: #a94442;
}
#loginPanel > .container {
  padding-top: 5%;
}
#chatView .navbar-toggle {
  float: none;
  margin-left: 5px;
}
#chatView .navbar-brand {
  float: right;
}
#chatView .navbar-brand .btn {
  margin-top: -7px;
}
#chatView #user-menu {
  top: calc(100% - 7px);
}
#chatView #user-menu li:hover {
  cursor: pointer;
}
#chatView #user-menu .navbar-brand {
  display: none;
}
#registerPanel {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  background-color: white;
}
#registerPanel .panel {
  margin-top: 20%;
}
#current-chats {
  margin-top: 0;
}
#current-chats .badge.status-badge {
  padding: 3px 6px;
  margin-right: 5px;
  margin-left: -5px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  width: 19px;
}
#current-chats .badge.status-badge.status-true {
  background-color: #50c350;
}
#current-chats .badge.status-badge.status-false {
  background-color: #c5c5c5;
}
#current-chats .badge.close-badge {
  position: relative;
  top: -10px;
  right: -10px;
  padding: 0;
}
#current-chats .badge.close-badge :hover {
  color: red;
}
#current-chats.nav > li {
  display: inline-block;
  margin-left: 5px;
  margin-top: 7px;
}
#new-msg-nav > div {
  width: calc(100% - 44px);
  display: inline-block;
}
#new-msg-nav > .btn {
  width: 40px;
  display: inline-block;
  vertical-align: top;
}
#msg-box textarea {
  resize: none;
}
#msg-box .panel-heading .status {
  text-align: right;
}
#msg-box .msg-sender {
  padding-left: 10px;
  min-width: 40px;
}
